workflow.json
{
  "name": "AI Ticket Analyzer - Claude (Production)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5444746a-976c-4931-8a11-f85c2343326e",
      "name": "Webhook - Ticket Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2560,
        1856
      ],
      "webhookId": "1acb7b30-4be3-422d-990e-99ce920e1ff8"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.subject }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.message }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "296cf093-2027-4960-85c4-ec244b7997f7",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2768,
        1856
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Missing required fields: subject and message\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "f359097a-132b-457d-bbe5-afa9a9355a9b",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2768,
        2080
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst body = $json.body;\n\nconst subject = String(body.subject || '').slice(0, 500).trim();\nconst message = String(body.message || '').slice(0, 5000).trim();\n\nconst fingerprint = crypto\n .createHash('sha256')\n .update((subject + message).toLowerCase())\n .digest('hex')\n .slice(0, 16);\n\nconst ticketId = `TKT_${new Date().toISOString().slice(0,10).replace(/-/g,'')}_${Math.random().toString(36).slice(2,8).toUpperCase()}`;\n\nreturn {\n json: {\n ticket_id: ticketId,\n subject,\n message,\n priority_flag: body.priority || 'medium',\n customer_email: body.customer_email || 'unknown@example.com',\n metadata: {\n fingerprint,\n received_at: new Date().toISOString()\n }\n }\n};"
      },
      "id": "8d2f011f-f09c-4f9b-9e82-977ad144559c",
      "name": "Enrich & Fingerprint Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        1856
      ]
    },
    {
      "parameters": {
        "jsCode": "const t = $json;\n\nreturn {\n json: {\n ...t,\n llm_prompt: `IMPORTANT: Respond ONLY with valid minified JSON. No markdown.\n\nAnalyze this customer support ticket.\n\nSubject: ${t.subject}\nMessage: ${t.message}\nPriority: ${t.priority_flag}\n\nReturn JSON:\n{\n \"summary\": \"short summary\",\n \"category\": \"Billing|Delivery|Product Issue|Technical Issue|Other\",\n \"sentiment\": \"Positive|Neutral|Negative\",\n \"urgency\": \"Low|Medium|High|Critical\",\n \"suggested_actions\": [\"action1\", \"action2\"],\n \"confidence_score\": 0.0,\n \"reasoning\": \"brief explanation\"\n}`\n }\n};"
      },
      "id": "a9192d42-8233-458c-bc78-7334f8f42426",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        1856
      ]
    },
    {
      "parameters": {
  "method": "POST",
  "url": "https://api.anthropic.com/v1/messages",
  "sendHeaders": true,
  "headerParameters": {
    "parameters": [
      {
        "name": "x-api-key",
        "value": "sk-ant-API-KEY-HERE"
      },
      {
        "name": "anthropic-version",
        "value": "2023-06-01"
      },
      {
        "name": "content-type",
        "value": "application/json"
      }
    ]
  },
  "sendBody": true,
  "specifyBody": "json",
  "jsonBody": "={{ {\n    \"model\": \"claude-3-5-haiku-20241022\",\n    \"max_tokens\": 1024,\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": $json.llm_prompt\n      }\n    ]\n  } }}",
  "options": {
    "timeout": 30000
  }
}
,
      "id": "c8f12eb3-9dbd-46a8-b7f2-620461cba384",
      "name": "Claude AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3440,
        1856
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content?.[0]?.text;\n\nlet analysis;\ntry {\n const cleaned = raw.replace(/```json|```/g, '').trim();\n analysis = JSON.parse(cleaned);\n} catch {\n analysis = {\n summary: raw?.slice(0, 100) || 'Unparseable response',\n category: 'Other',\n sentiment: 'Neutral',\n urgency: 'Medium',\n suggested_actions: ['Manual review required'],\n confidence_score: 0.4,\n reasoning: 'Model output was not valid JSON'\n };\n}\n\nconst enrichData = $('Enrich & Fingerprint Ticket').first().json;\n\nreturn {\n json: {\n ticket_id: enrichData.ticket_id,\n analysis,\n metadata: enrichData.metadata\n }\n};"
      },
      "id": "bfe9e70a-411c-4db8-8fac-06a818fba17d",
      "name": "Parse & Validate AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3664,
        1856
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "ticket-analyzer-tejaansh",
        "fileName": "={{ `tickets/${$json.ticket_id}.json` }}",
        "additionalFields": {}
      },
      "id": "a281005b-d623-42f7-bfb9-b06ab68415ed",
      "name": "Archive to S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        3888,
        1856
      ],
      "credentials": {
        "aws": {
          "id": "BZl579Hprxj8QNM9",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'success', ticket_id: $json.ticket_id, analysis: $json.analysis } }}",
        "options": {}
      },
      "id": "fe306c58-fbaf-4d2f-b779-f86eaa357e69",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4112,
        1856
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Ticket Intake": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Enrich & Fingerprint Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich & Fingerprint Ticket": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Claude AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI Analysis": {
      "main": [
        [
          {
            "node": "Parse & Validate AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate AI Output": {
      "main": [
        [
          {
            "node": "Archive to S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive to S3": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6e86455c-de7a-43ad-b8d2-20cacaf12b5f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "810919566e0db64cd8ce2646094b9404d230a1349c3de02e57779743b254a29c"
  },
  "id": "ZT5vKETRlMWS5Po13sQt8",
  "tags": []
}