workflow.json
{
  "name": "AI Ticket Analyzer - OpenAI (Production)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4704d713-83b2-4d38-8c37-3391afb768f8",
      "name": "Webhook - Ticket Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        4304,
        1392
      ],
      "webhookId": "609b006d-e25d-44de-8503-dea3e14484c0"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.subject }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.message }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "1e510160-8e89-457a-b350-603b83aac5a7",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4512,
        1392
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Missing required fields: subject and message' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "210b518f-4434-4bac-ae74-189d54887f7d",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4512,
        1616
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst body = $json.body;\n\nconst subject = String(body.subject).slice(0,500);\nconst message = String(body.message).slice(0,5000);\n\nconst fingerprint = crypto.createHash('sha256').update((subject+message).toLowerCase()).digest('hex').slice(0,16);\nconst ticketId = `TKT_${new Date().toISOString().slice(0,10).replace(/-/g,'')}_${Math.random().toString(36).slice(2,8).toUpperCase()}`;\n\nreturn {\n  json: {\n    ticket_id: ticketId,\n    subject,\n    message,\n    priority_flag: body.priority || 'medium',\n    customer_email: body.customer_email || 'unknown@example.com',\n    metadata: { fingerprint, received_at: new Date().toISOString() }\n  }\n};"
      },
      "id": "8d367dc0-cf35-4722-a9f6-dc40ac02149e",
      "name": "Enrich & Fingerprint Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4736,
        1392
      ]
    },
    {
      "parameters": {
        "jsCode": "const t = $json;\nreturn { json: { ...t, llm_prompt: `Respond ONLY with valid minified JSON.\n\nAnalyze support ticket:\nSubject: ${t.subject}\nMessage: ${t.message}\nPriority: ${t.priority_flag}\n\nReturn JSON:\n{\n\"summary\":\"\",\n\"category\":\"Billing|Delivery|Product Issue|Technical Issue|Other\",\n\"sentiment\":\"Positive|Neutral|Negative\",\n\"urgency\":\"Low|Medium|High|Critical\",\n\"suggested_actions\":[\"\"],\n\"confidence_score\":0.0,\n\"reasoning\":\"\"\n}` } };"
      },
      "id": "b7e5ebf5-ac75-40b9-b3b1-070f5d5a14f0",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4944,
        1392
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: 'gpt-4o-mini',\n  temperature: 0.3,\n  messages: [\n    { role: 'system', content: 'Return ONLY valid JSON.' },\n    { role: 'user', content: $json.llm_prompt }\n  ]\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "afb6024a-22f0-4beb-ac9c-fd3e6d4b9399",
      "name": "OpenAI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        5168,
        1392
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices?.[0]?.message?.content;\nlet analysis;\ntry { analysis = JSON.parse(raw); }\ncatch { analysis = { summary:'Parse failed', category:'Other', sentiment:'Neutral', urgency:'Medium', suggested_actions:['Manual review'], confidence_score:0.4, reasoning:'Invalid JSON' }; }\n\nconst base = $('Enrich & Fingerprint Ticket').first().json;\nreturn { json: { ticket_id: base.ticket_id, analysis, metadata: base.metadata } };"
      },
      "id": "d7784825-da96-46b0-beca-4e341e836285",
      "name": "Parse & Validate AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5392,
        1392
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "ticket-analyzer-tejaansh",
        "fileName": "={{ `tickets/${$json.ticket_id}.json` }}",
        "binaryData": false,
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "additionalFields": {}
      },
      "id": "8ce2e6c1-6c72-4365-8c57-7c50dec9ac42",
      "name": "Archive to S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        5616,
        1392
      ],
      "credentials": {
        "aws": {
          "id": "BZl579Hprxj8QNM9",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status:'success', ticket_id:$json.ticket_id, analysis:$json.analysis } }}",
        "options": {}
      },
      "id": "37746f86-5ba5-4120-885c-3b6df8296ccb",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        5824,
        1392
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Ticket Intake": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Enrich & Fingerprint Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich & Fingerprint Ticket": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analysis": {
      "main": [
        [
          {
            "node": "Parse & Validate AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate AI Output": {
      "main": [
        [
          {
            "node": "Archive to S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive to S3": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3dee9648-df47-40e0-83ab-5477282c1dc5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "810919566e0db64cd8ce2646094b9404d230a1349c3de02e57779743b254a29c"
  },
  "id": "ZT5vKETRlMWS5Po13sQt8",
  "tags": []
}